<%- include("partials/header") %>
<div class="container">
<header class="jumbotron">
    <div class="container"><h1>this is campground page!</h1>
<p>view our hand-picked campgrounds from all over the world</p>

<p>
    <a class="btn btn-primary btn-lg" href="/campgrounds/new">add bew canoground</a>
</p></div>

</header>

<div class="row">
    <div class="col-lg-12">
        <h3>our most popular compgrounds</h3>
    </div>

</div>

<% campgrounds.forEach(function(campground) { %>
    <div>
        <h4><%= campground.name %></h4>
        <img src="<%= campground.image %>">
        <p><%= campground.description %> </p>

    </div>
    <p>
        <a href="/campgrounds/<%= campground._id %> " class="btn btn-primal">more info</a>
    </p>
<% }); %>

</div>



<%- include("partials/footer") %>